Library/SourceAssetDB
Library/SourceAssetDB-lock
Library/Artifacts/23/230a2e6ffc5ef0160b10193c119de16f
Library/Artifacts/b5/b57e19fbbee28dd78ba1e5ca6b232448
Library/PackageCache/com.unity.burst@59eb6f11d242/.Runtime/libburst-llvm-18.dylib
Library/PackageCache/com.unity.burst@59eb6f11d242/.Runtime/libburst-llvm-19.dylib